---
import Layout from "../layouts/Layout.astro";
import Presentation from "../components/Presentation.astro";
import ActuPrev from "../components/ActuPrev.astro";
import StatPrev from "../components/StatPrev.astro";
import PostePrev from "../components/PostePrev.astro";

import { entreprise } from "../js/appelleAPI.js";
import { actu } from "../js/appelleAPI.js";
import { stat } from "../js/appelleAPI.js";
import { poste } from "../js/appelleAPI.js";

const posteInstance = await poste();
const statInstance = await stat();
const actuInstance = await actu();
const entrepriseInstance = await entreprise();
---

<Layout title="Accueil">
  <main>
    <Presentation />
    <div class="mx-4 md:mx-24 lg:mx-48">
      <div class="flex flex-col xl:flex-row w-full">
        {
          statInstance.map((stat) => (
            <div class="w-full xl:w-1/4 m-2 rounded-lg shadow shadow-sky-800 bg-sky-800 p-2 md:p-4">
              <StatPrev
                titre={stat.nomDeLaStat}
                texte={stat.statEnQuestion}
                image={stat.image.url}
              />
            </div>
          ))
        }
      </div>
      <div
        class="flex flex-col md:flex-row items-center justify-between my-4 md:my-8 rounded-lg shadow shadow-slate-700 bg-slate-700 p-2"
      >
        <h2 class="text-white">Dernières Actualités</h2>
        <a
          class="flex flex-row items-center transform transition duration-300 hover:scale-[1.1]"
          href="/actu/"
        >
          <h4 class="text-white">Voir toutes les actualités</h4>
          <img
            src="/assets/arrow-right.svg"
            alt="arrow right"
            class="w-12 h-12"
          />
        </a>
        <div></div>
      </div>
      <ul>
        {
          actuInstance.slice(0, 2).map((actu) => (
            <li>
              <ActuPrev
                date={actu.date}
                image={actu.image.url}
                texte={actu.texte}
                titre={actu.titre}
              />
            </li>
          ))
        }
      </ul>

      <div
        class="flex flex-col md:flex-row items-center justify-between my-4 md:my-8 rounded-lg shadow shadow-slate-700 bg-slate-700 p-2"
      >
        <h2 class="text-white">Nos offres d'emplois</h2>
        <a
          class="flex flex-row items-center transform transition duration-300 hover:scale-[1.1]"
          href="/poste/"
        >
          <h4 class="text-white">Voir toutes les postes disponibles</h4>
          <img
            src="/assets/arrow-right.svg"
            alt="arrow right"
            class="w-12 h-12"
          />
        </a>
        <div></div>
      </div>
      <ul>
        {
          posteInstance.slice(0, 1).map((poste) => (
            <li>
              <PostePrev
                resume={poste.resumeDuPoste}
                titre={poste.nomDuPoste}
                slug={poste.slug}
              />
            </li>
          ))
        }
      </ul>
    </div>
  </main>
</Layout>
